#!/bin/bash

# ======== ARTISAN ======== #
function pat() {
  if [ $# -eq 0 ]; then
    args="--testdox"
  else
    args="--filter=$1"
  fi

  art test -d memory_limit=6144M "$args"
}

# ======== NPM ======== #
preexec() {
  if [[ "$1" =~ ^(npm|yarn|bun)(\s|$) ]] && [ -f .nvmrc ]; then
    local nvmrc_node_version
    nvmrc_node_version=$(nvm version "$(cat .nvmrc)")

    if [ "$nvmrc_node_version" = "N/A" ]; then
      nvm install
    elif [ "$nvmrc_node_version" != "$(nvm version)" ]; then
      nvm use
    fi
  fi
}
