* {
  border: none;
  border-radius: 0;
  font-family: "SF Pro", "JetBrainsMono Nerd Font", monospace;
  font-weight: 500;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #CDD6F4;
}

tooltip {
  background: #1E1E2E;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #45475A;
  color: #CDD6F4;
}

#clock,
#workspaces,
#window,
#tray,
#pulseaudio,
#bluetooth,
#cpu,
#memory,
#network,
#custom-github,
#custom-timer,
#custom-logitech {
  background: #1E1E2E;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 8px 5px 0px 5px;
}

#custom-menu,
#custom-power,
#custom-spotify,
#custom-updates {
  background: #1E1E2E;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 8px 5px 0px 5px;
}

#workspaces {
  background: #1E1E2E;
  padding: 0px 4px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 6px 8px;
  margin: 0px 2px;
  border-radius: 8px;
  color: #313244;
  background: transparent;
  transition: none;
}

#workspaces button.active {
  color: #A6ADC8;
  background: transparent;
}

#workspaces button.focused {
  color: #A6ADC8;
  background: transparent;
  outline: none;
}

#workspaces button.urgent {
  color: #F38BA8;
  background: transparent;
}

#workspaces button:hover {
  color: #FAB387;
  background: transparent;
}

#window {
  color: #CDD6F4;
  font-weight: 500;
}

#clock {
  color: #89B4FA;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-menu {
  color: #89B4FA;
  padding-left: 12px;
  padding-right: 12px;
}

#custom-power {
  color: #FAB387;
  padding-left: 12px;
  padding-right: 12px;
}

#custom-spotify {
  color: #A6E3A1;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 12px;
}

#bluetooth {
  color: #89B4FA;
}

#bluetooth.connected {
  color: #89B4FA;
}

#bluetooth.disabled {
  color: #7F849C;
}

#cpu {
  color: #89DCEB;
}

#memory {
  color: #74C7EC;
}

#network {
  color: #89B4FA;
}

#pulseaudio {
  color: #CBA6F7;
}

#pulseaudio.muted {
  color: #7F849C;
}

#custom-github {
  color: #B4BEFE;
}

#custom-github.notifications {
  color: #F38BA8;
}

#custom-timer {
  color: #F9E2AF;
}

#custom-logitech {
  color: #89DCEB;
}

#custom-logitech.low {
  color: #FAB387;
}

#custom-logitech.critical {
  color: #F38BA8;
}
