#!/bin/bash

# ======== GENERAL ======== #
[ "$(which bat)" != "" ] && alias cat="bat --paging=never"
[ "$(which exa)" != "" ] && alias ls="exa --icons $@"
[ "$(which trash)" != "" ] && alias rm="trash"

# Copy and paste from terminal
[ "$(which xclip)" != "" ] && alias pbcopy="xclip -sel clip";
[ "$(which xclip)" != "" ] && alias pbpaste="xclip -sel clip -o";

alias dotfiles="cd ~/.dotfiles && vim ."

# clearing terminal
alias c="clear"

# sourcing shell config
alias s="source ~/.config/zsh/.zshrc"

# file listing
alias l="ls -lah"

# create directory and move to it
function to {
  mkdir -p "$1"
  cd "$1" || true
}

# ======== AUTH ======== #
alias token="pwgen -s 40 1 | pbcopy && echo 'Copied to clipboard.'"
alias password="pwgen -s 24 1 | pbcopy && echo 'Copied to clipboard.'"
alias uuid="uuidgen | tr '[:upper:]' '[:lower:]' | tr -d '\n' | pbcopy && echo 'Copied to clipboard.'"

# ======== ARTISAN ======== #
alias art="php artisan"

function amm {
  art make:migration "$1"
}

alias acc="art cache:clear && php artisan config:clear"
alias aql="art queue:work --timeout=600 --tries=3 --queue=default --env=local"
alias aqc="art queue:clear --queue=default --env=local"

function ac {
  art config:clear
  art cache:clear
  art event:clear
  art queue:clear
  art view:clear
  art route:clear
}

function pat() {
  if [ $# -eq 0 ]
  then args="--testdox"
  else args="--filter=$1"
  fi

  art test -d memory_limit=6144M --verbose "$args"
}

function flaky() {
  runs=1
  output=""

  failed=false

  while [ "$failed" != "true" ]
  do
    output=$(php artisan test -d memory_limit=6144M --verbose --filter="$1")

    if "$output" 2>&1 | grep -q -wi "FAIL"
    then
      failed=true
    fi

    $failed && echo "Run $runs failed" || echo "Run $runs passed"

    ((runs++))
  done

  echo "$output"
}

# PHPStan
alias psc="phpstan analyse --ansi --memory-limit=8G"
alias psb="phpstan --generate-baseline --memory-limit=8G"

# ======== COMPOSER ======== #
alias pix="vendor/bin/pint"
alias pgb="vendor/bin/phpstan --generate-baseline --memory-limit=4G"
alias vgp="vendor-patches generate && composer update --lock"

# ======== GIT ======== #
alias nah="git stash && git stash drop"

comme () {
  git add --all
  if (($# > 1))
  then
    params=''
    for i in "$@"
    do
      params=" $params $i"
    done
    git commit -m "$params"
  else
    git commit -m "$1"
  fi
}

git:clean () {
  git branch --merged master | xargs git branch -d
}

# ======== SUPABASE ======== #
alias sp="supabase"
alias sp:start="sp start"
alias sp:stop="sp stop"

function sp:migration(){
  if [ $# -eq 0 ]
  then echo "Provide a migration name"
  else sp db diff --use-migra "$1" -f "$1"
  fi
}

function sp:types() {
  sp gen types typescript --linked --schema public > types/supabase.ts
}

# ======== VIM & TMUXIFIER ======== #
[ "$(which nvim)" != "" ] && alias vim="nvim"

function tls {
  tmuxifier load-session "$1"
}

function tms {
  tmuxifier new-session "$1"
}
